img {
    position: absolute ;
    left: 30%;
    border-style: solid grey;
    top:20px
}

#titulo {
    color:rgb(73, 12, 12);
    font: bold 180% cursive;
    font-family: 'Lobster', cursive;
}

div {
    width: 700px;
    /*background-color: crimson*/
}